/.idea
/dependency-inversion/target
/dependency-inversion/*.iml
/interface-segregation/target
/interface-segregation/*.iml
/information-hidding/target
/information-hidding/*.iml
/dependency-injection/target
/dependency-injection/*.iml